[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
plotly = "*"
notebook = "*"
spacy = "*"
pickle5 = "*"
joblib = "*"
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiofiles = "*"

[dev-packages]

[requires]
python_version = "3.8"
